@media(max-width:1199px){
    .container{
        width: 90%;
    } 
    .section{
        &__right{
            &__p{
                font-size: 12px;
                margin: 10px 0;
            }
            &__title{
                font-size: 35px;
            }
            &__form{
                &__input{
                    font-size: 12px;
                    padding: 15px   ;
                }
                &__button{
                    transform: translateX(0);
                    i{
                        font-size: 16px;
                        padding: 5px;
                    }
                }
            }
            &__bottom{
                padding: 5px;
            }
        }
    }
}
@media(max-width:800px){
    .container{
        width: 95%;
    }
    .header{
        &__left{
            gap: 50px;
            &__link{
                gap: 15px;
            }
        }
        &__right{
            gap: 20px;
        }
    }
    .section{
        flex-direction: column-reverse;
        margin-top: 50px;
        &__left{
            display: none;
        }
    }
}
@media(max-width:600px){
    .header{
        &__left{
            &__link{
                transform: translateX(-120%);
                transition: 0.3s;
                position: fixed;
                flex-direction: column;
                top: 0;
                left: 0;
                align-items:flex-start;
                background:#161733;
                width: 65%;
                height: 100vh;
                z-index: 99;
                &__li{
                    margin: 10px;
                    a{
                        font-size: 20px;
                    }
                }
            }
        }
        &__right{

        }
        &__bar{
            display: flex;
        }
    }
    .toggle{
        transform: translateX(0);
    }
}