* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  background: #171836;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

.header {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__left {
  display: flex;
  align-items: center;
  gap: 148px;
}
.header__left__logo img {
  width: 100%;
  height: 100%;
}
.header__left__link {
  display: flex;
  align-items: center;
  gap: 44px;
}
.header__left__link__li a {
  font-family: Inter, sans-serif;
  color: rgba(255, 255, 255, 0.6);
  font-family: 400;
  font-size: 14px;
}
.header__left__link__li .active {
  color: #ffffff;
}
.header__right {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header__right__select {
  background: transparent;
  color: #D1D1D7;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 12px;
  border: none;
}
.header__right__button button {
  cursor: pointer;
  color: #FFFFFF;
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 14px;
  padding: 10px 30px;
  border-radius: 6px;
  border: 2px solid #F5443B;
  background: #F5443B;
}
.header__right__button button:hover {
  background: transparent;
}
.header__bar {
  display: none;
  transition: 0.5s;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  flex-direction: column;
  gap: 8px;
}
.header__bar div {
  width: 30px;
  height: 3px;
  background: #ffffff;
  border-radius: 3px;
}

.bars {
  gap: 0;
}
.bars div:nth-child(2) {
  opacity: 0;
}
.bars div:first-child {
  transform: translateY(2.5px) rotate(45deg);
}
.bars div:last-child {
  transform: translateY(-2.5px) rotate(-45deg);
}

.section {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section__left {
  width: 100%;
}
.section__left__image img {
  width: 100%;
  height: 100%;
}
.section__right__title {
  font-family: "Inter";
  font-weight: 600;
  font-size: 45px;
  color: rgba(255, 255, 255, 0.8);
}
.section__right__p {
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.4);
  margin: 10px 0 30px;
}
.section__right__form__input {
  background: #1F2143;
  border: none;
  border-radius: 5px;
  padding: 18px 200px 18px 25px;
  color: #D1D1D7;
  font-size: 16px;
}
.section__right__form__button {
  cursor: pointer;
  transform: translateX(-150%);
  padding: 8px;
  background: #282B57;
  border: none;
  border-radius: 5px;
}
.section__right__form__button i {
  font-size: 20px;
  color: #9A9CCB;
}
.section__right__bottom {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.section__right__bottom__box {
  cursor: pointer;
  color: rgba(154, 156, 203, 0.6);
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #9A9CCB;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 13px;
}
.section__right__bottom__box:hover {
  background: rgba(154, 156, 203, 0.4941176471);
  border: 1px solid #171836;
  color: #171836;
}

@media (max-width: 1199px) {
  .container {
    width: 90%;
  }
  .section__right__p {
    font-size: 12px;
    margin: 10px 0;
  }
  .section__right__title {
    font-size: 35px;
  }
  .section__right__form__input {
    font-size: 12px;
    padding: 15px;
  }
  .section__right__form__button {
    transform: translateX(0);
  }
  .section__right__form__button i {
    font-size: 16px;
    padding: 5px;
  }
  .section__right__bottom {
    padding: 5px;
  }
}
@media (max-width: 800px) {
  .container {
    width: 95%;
  }
  .header__left {
    gap: 50px;
  }
  .header__left__link {
    gap: 15px;
  }
  .header__right {
    gap: 20px;
  }
  .section {
    flex-direction: column-reverse;
    margin-top: 50px;
  }
  .section__left {
    display: none;
  }
}
@media (max-width: 600px) {
  .header__left__link {
    transform: translateX(-120%);
    transition: 0.3s;
    position: fixed;
    flex-direction: column;
    top: 0;
    left: 0;
    align-items: flex-start;
    background: #161733;
    width: 65%;
    height: 100vh;
    z-index: 99;
  }
  .header__left__link__li {
    margin: 10px;
  }
  .header__left__link__li a {
    font-size: 20px;
  }
  .header__bar {
    display: flex;
  }
  .toggle {
    transform: translateX(0);
  }
}

/*# sourceMappingURL=style.css.map */
